<ion-view title="Madaish" hide-nav-bar="true">
    <ion-tabs class="tabs-light tabs-icon-only">
        <!-- Timleine Tab -->
        <ion-tab title="Timeline" icon="ion-ios-home" href="#/timeline">
            <ion-nav-view name="timeline"></ion-nav-view>
        </ion-tab>
        <!-- Timleine Tab -->
        <ion-tab title="Explora" icon="ion-android-compass" href="#/explorer">
            <ion-nav-view name="explorer"></ion-nav-view>
        </ion-tab>
        <!-- Timleine Tab -->
        <ion-tab title="Publicar" icon="ion-ios-plus" ng-click="publishPopover.show($event)">
            <ion-nav-view name="publish"></ion-nav-view>
        </ion-tab>
        <!-- Timleine Tab -->
        <ion-tab title="Buscar" icon="ion-ios-search" href="#/search">
            <ion-nav-view name="search"></ion-nav-view>
        </ion-tab>
        <!-- Timleine Tab -->
        <ion-tab title="Usuario" icon="ion-ios-person" href="#/profile">
            <ion-nav-view name="user"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>