<ion-view>
    <ion-content class="page-landing" overflow-scroll="true">
        <form class="list" novalidate ng-submit="emailLogin()">
            <div ng-show="!login.forgotPassword">
                <label class="item item-input">
                    <input ng-model="login.email" type="text" placeholder="Escribe tu nombre de usuario o email">
                </label>
                <label class="item item-input">
                    <input ng-model="login.password" ng-disabled="login.forgotPassword" type="password" placeholder="Introduce tu contraseña">
                </label>
            </div>
            <div ng-show="login.forgotPassword">
                <label class="item item-input">
                    <input ng-model="login.email" type="email" placeholder="Escribe tu email">
                </label>
                <label class="item item-input" style="visibility: hidden">
                    <input type="text" disabled>
                </label>
            </div>

            <ion-checkbox ng-model="login.forgotPassword">He olvidado mi contraseña</ion-checkbox>

            <button class="button mad-button-primary button-block" ng-disabled="!login.valid">
                {{login.forgotPassword ? "Recuperar" : "Iniciar sesión"}}
            </button>
        </form>
    </ion-content>
</ion-view>