<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content class="page-landing" overflow-scroll="true">
        <button ng-click="facebookLogin()" class="button button-facebook button-block icon-left ion-social-facebook">
            Entra con Facebook
        </button>
        <button ui-sref="base.login-email" class="button button-login button-block icon-left ion-ios-email">
            Entra con tu Email
        </button>
        <button ng-click="loginAnon()" class="button button-login button-block icon-left">
            Registrarme m&aacute;s tarde
        </button>
        <button ui-sref="root.view.accessRegister" class="button button-register button-block">
            Crear Cuenta
        </button>
    </ion-content>
</ion-view>
