<div class="card" ng-class="::layout">

    <user-card data="::data.Profile" label="{{::subtitle}}" widget="{{::widget}}" callback="callback()"></user-card>

    <div ng-click="showPost()">
        <div ng-if="data.IsFast == false">
            <p ng-show="data.Title" style="margin-top:0px; color:#000000;" class="post-card-content">
                {{::data.Title}}
            </p>
            <div ng-if="data.Image" class="item item-image" ng-class="{'video-preview':data.IsVideo}">
                <img ng-src="{{::getImageUrl(data.Image)}}" ng-click="doubleClick($event)" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body post-card-content" style="margin-left: 5px" ng-show="data.Title">
                {{ data.IntroText }}
                <div ng-show="::content" ng-bind-html="::content" mad-parse-links>
                </div>
            </div>
        </div>
        <div ng-if="data.IsFast == true">
            <div class='iframe-md'>
                <p ng-bind-html="data.Text"></p>
            </div>
        </div>
    </div>
    <div class="item item-footer">
        <button ng-click="like()" class="button mad-button-like button-block icon" ng-class="{
                'ion-ios-heart': data.isLiked,
                'ion-ios-heart-outline': !data.isLiked
        }" ng-disabled="data.isLiked">&nbsp;
            <span>{{data.LikesCount}}</span>
            <span ng-if="!data.isLiked">Me gusta</span>
        </button>
        <div ng-if="::share">
            <p style="color:#000000;">Compartir: (QUEDA FUERA DEL MVP)</p>
            <div class="button-bar">
                <button class="button button-positive button-block icon ion-social-facebook"></button>
                <button class="button button-calm button-block icon ion-social-twitter"></button>
                <button class="button button-stable button-block icon ion-social-pinterest" style="color:#FFFFFF;"></button>
            </div>
        </div>
    </div>
</div>