<ion-view title="Modificar contraseña">
    <ion-content class="page-landing" overflow-scroll="true">
        <form class="list">
            <label class="item item-input">
                <input ng-model="change.currentPassword" type="password" placeholder="Introduzca su contraseña actual">
            </label>
            <label class="item item-input">
                <input ng-model="change.password" type="password" placeholder="Introduzca su nueva contraseña">
            </label>
            <label class="item item-input">
                <input ng-model="change.repassword" type="password" placeholder="Repita su nueva contraseña">
            </label>
            <button ng-click="changePassword()" class="button mad-button-primary button-block" ng-disabled="!change.valid">Modificar Contraseña</button>
        </form>
    </ion-content>
</ion-view>