<ion-view title="Datos personales">
    <ion-content class="page-profile" overflow-scroll="true">

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Nombre</span>
                <input ng-model="personal.Name" type="text">
            </label>

            <label class="item item-input">
                <span class="input-label">Apellidos</span>
                <input ng-model="personal.Surname" type="text">
            </label>

            <label class="item item-input">
                <span class="input-label">Ciudad</span>
                <input ng-model="personal.City" type="text">
            </label>

            <label class="item item-input">
                <span class="input-label">Código Postal</span>
                <input ng-model="personal.PostalCode" type="tel">
            </label>

            <label class="item item-input">
                <span class="input-label">País</span>
                <input ng-model="personal.Country" type="text">
            </label>

            <label class="item item-input">
                <span class="input-label">Teléfono</span>
                <input ng-model="personal.Phone" type="tel">
            </label>

            <label class="item item-input">
                <span class="input-label">Fecha de nacimiento</span>
                <input ng-model="personal.BornDate" type="date">
            </label>

            <div class="button-bar">
                <div class="button-bar padding">
                    <a grouped-radio="Hombre" ng-model="personal.Sex" class="grouped-radio">Hombre</a>
                    <a grouped-radio="Mujer" ng-model="personal.Sex" class="grouped-radio">Mujer</a>
                </div>
            </div>
        </div>

        <div class="button-bar">
            <button ng-click="update(user)" class="button button-primary button-block margintop" style="border-color: white">
                Guardar cambios
            </button>
        </div>
    </ion-content>
</ion-view>