<ion-view>
    <ion-content overflow-scroll="true">
        <ion-refresher
                pulling-text="Desliza para recargar..."
                on-refresh="reload()">
        </ion-refresher>
        <div class="card">
            <user-card data="user" widget="{{::widget}}"></user-card>
            <div class="button-bar">
                <a ui-sref="root.view.follows({userName: user.FriendlyUrlUserName})" class="button button-dark button-small button-block button-clear">
                    {{user.FollowedsCount}} Siguiendo
                </a>
                <a ui-sref="root.view.followers({userName: user.FriendlyUrlUserName})" class="button button-dark button-small button-block button-clear">
                    {{user.FollowersCount}} Seguidores
                </a>
            </div>
            <p style="color:#000000;text-align:center;">
                {{user.Description}}
            </p>
            <div parse-links class="button-bar">
                <a ng-show="user.FacebookFriendly" href="{{user.FacebookFriendly}}" class="button button-dark button-block button-clear icon ion-social-facebook"></a>
                <a ng-show="user.TwitterFriendly" href="{{user.TwitterFriendly}}" class="button button-dark button-block button-clear icon ion-social-twitter"></a>
                <a ng-show="user.InstagramFriendly" href="{{user.InstagramFriendly}}" class="button button-dark button-block button-clear icon ion-social-instagram-outline"></a>
                <a ng-show="user.PinterestFriendly" href="{{user.PinterestFriendly}}" class="button button-dark button-block button-clear icon ion-social-pinterest"></a>
            </div>
        </div>

        <post-card ng-repeat="post in posts" data="post"></post-card>

    </ion-content>
</ion-view>